{% extends "layout.html"%}
{% block body%}

<h1 style="text-align:center" > About</h1>
<br>
<h4 style="text-align:center">The Lansglator is a web application capable of translating words, 
phrases and paragraphs from one chosen <br> language to another chosen language.
It supports 108 languages worldwide. It does an 
eminent job of language <br> conversion with correct grammar. All you have to do is type in the text,
select the source language along with the <br> desired destination  language and click on convert. 
Try your first translation on our Lansglator. <br> 
HAPPY TRANSLATION!
</h4>
<br>
<br>
<br>
<h5 class="container">A web application developed by Raghavi Shirur<br>
    Student, IET-DAVV
</h5>
<br>
<br>
<br>
<br>
<footer class="container-fluid bg-4 text-center">
    <h6 class="container">Googletrans version 2.4.0 <br>
        Flask framework version 1.1.2 </h6>
</footer>

<br>

{%endblock%} 