{% extends "layout.html"%}
{% block body%}
<h1 style="text-align:center">The Language Pallete</h1><br>
<h3 style="text-align:center">
<div class="row" style="width:950px; margin:0 auto;">
  <div class="column" style="text-align:left">af - afrikaans <br>
sq - albanian <br> 
am - amharic <br>
ar - arabic <br>
hy - armenian <br>
az - azerbaijani <br>
eu - basque <br>
be - belarusian <br>
bn - bengali <br>
bs - bosnian <br>
bg - bulgarian <br>
ca - catalan <br>
ceb - cebuano <br>
ny - chichewa <br>
zh-cn - chinese (simplified) <br>
zh-tw - chinese (traditional) <br>
co - corsican <br>
hr - croatian <br>
cs - czech <br>
da - danish <br>
nl - dutch <br>
en - english <br>
eo - esperanto <br>
et - estonian <br>
tl - filipino <br>
fi - finnish <br>
fr - french <br>
fy - frisian <br>
gl - galician <br>
ka - georgian <br>
de - german <br>
el - greek <br>
gu - gujarati <br>
ht - haitian creole <br>
ha - hausa <br>
haw - hawaiian <br>
</div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="column" style="text-align:left">he - hebrew <br>
iw - hebrew <br>
hi - hindi <br>
hmn - hmong <br>
hu - hungarian <br>
is - icelandic <br>
ig - igbo <br>
id - indonesian <br>
ga - irish <br>
it - italian <br>
ja - japanese <br>
jw - javanese <br>
kn - kannada <br>
kk - kazakh <br>
km - khmer <br>
ko - korean <br>
ku - kurdish (kurmanji) <br>
ky - kyrgyz <br>
lo - lao <br>
la - latin <br>
lv - latvian <br>
lt - lithuanian <br>
lb - luxembourgish <br>
mk - macedonian <br>
mg - malagasy <br>
ms - malay <br>
ml - malayalam <br>
mt - maltese <br>
mi - maori <br>
mr - marathi <br>
mn - mongolian <br>
my - myanmar (burmese) <br>
ne - nepali <br>
no - norwegian <br>
or - odia <br>
ps - pashto <br>
</div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="column" style="text-align:left">pt - portuguese <br>
fa - persian <br>
pl - polish <br>
pa - punjabi <br>
ro - romanian <br>
ru - russian <br>
sm - samoan <br>
gd - scots gaelic <br>
sr - serbian <br>
st - sesotho <br>
sn - shona <br>
sd - sindhi <br>
si - sinhala <br>
sk - slovak <br>
sl - slovenian <br>
so - somali <br>
es - spanish <br>
su - sundanese <br>
sw - swahili <br>
sv - swedish <br>
tg - tajik <br>
ta - tamil <br>
te - telugu <br>
th - thai <br>
tr - turkish <br>
uk - ukrainian <br>
ur - urdu <br>
ug - uyghur <br>
uz - uzbek <br>
vi - vietnamese <br>
cy - welsh <br>
xh - xhosa <br>
yi - yiddish <br>
yo - yoruba <br>
zu - zulu <br></div>
</div>


</h3>
{%endblock%} 